/* ======= RESET ======= */
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

.days-one-regular {
font-family: "Days One", sans-serif;
font-weight: 400;
font-style: normal;
}

.comic-neue-light {
font-family: "Comic Neue", cursive;
font-weight: 300;
font-style: normal;
}

.comic-neue-regular {
font-family: "Comic Neue", cursive;
font-weight: 400;
font-style: normal;
}

.comic-neue-bold {
font-family: "Comic Neue", cursive;
font-weight: 700;
font-style: normal;
}

.comic-neue-light-italic {
font-family: "Comic Neue", cursive;
font-weight: 300;
font-style: italic;
}

.comic-neue-regular-italic {
font-family: "Comic Neue", cursive;
font-weight: 400;
font-style: italic;
}

.comic-neue-bold-italic {
font-family: "Comic Neue", cursive;
font-weight: 700;
font-style: italic;
}

body{
    background-color: #c3c3ed;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
}

/* BG COLOR */
.bg-gradient{
    background: linear-gradient(to right, #8383be, #9e9ee2, #626394, #484971);
}

.bg-purple{
    background-color: #484971;
}

.bg-white{
    background-color: #fff;
}

/* HELPERS */
.radius{
    border-radius: 7px;
}

/*CABEÇALHO*/
.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo_sem_fundo.png) center center/56px no-repeat;
    font-size: 0;
}

.btn-menu{
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
}

.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(72,73,113,0.9);
    top: 0;
    left: 0;
    display: none;
}

.btn-close{
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}

.menu li{
    padding: 1.5%;
}

.menu li a{
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover{
    border: 1px solid #bdbde8;
}

.banner{
    background: url(../img/bgnovo.jpg) no-repeat fixed;
}

.title{
    width: 100%;
}

.title h2{
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}

.title h3{
    font-size: 1.5em;
    color: #fff;
}

.button{
    width: 100%;
}

.button i{
    float: right;
}

.btn{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
}

.btn-cadastrar{
    color: #fff;
    margin-top: 1%;
}

.btn-sobre{
    color: #484971;
    margin-top: 2%;
}

/*serviços*/
.servico{
    width: 100%;
    text-align: left;
    margin-bottom: 3%;
    border-radius: 10px;
}

.servico img{
    border-radius: 7px 7px 0 0;
}

.inner{
    padding: 7%;
}

.inner a{
    font-size: 1.5em;
    color: #484971;
    font-weight: 700;
}

.inner h4{
    font-size: 1.2em;
    color: #484971;
    margin-top: 2%;
}

.inner p{
    margin-top: 6%;
    color: #484971;
    line-height: 1.5em;
}

/*NEWSLETTER*/
.newsletter h2{
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.newsletter h3{
    color: #fff;
}

.newsletter form{
    margin-top: 2%;
}

.newsletter input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5%;
    width: 100%;
}

.newsletter button{
    width: 100%;
    color: #484971;
    padding: 5%;
    cursor: pointer;
    margin-top: 2%;
}

/* RODAPÉ */
.social-icons a{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 3%;
}

.social-icons a:hover{
    color: rgb(255, 255, 255);
}

.social-iconsa:last-child{
    margin-right: 0;
}

.copyright{
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.7);
}


/* 
MEDIAS TYPES: servem para direcionar um bloco css para determinado tipo de meio de acesso.
SCREEN: Para monitores ou dispositivos com telas coloridas e resolução adequada.
PRINT: Para impressoras. Muito usado para dar uma versão de impressão do site.
*/

/*===== MOBILE FIRST =====*/
/* SMALL DEVICES - SMARTPHONES */

@media screen and (min-width: 600px) {
    /* aqui se determina o tipo (que no caso é pra monitores e telas) e em qual situação esse bloco será usado */
    .logo{
        width: 150px;
        float: left;
        background: url(../img/logogrande.png) center center/150px no-repeat;
    } 
    .btn{
        font-size: 2em;
    }
}

/* SMALL DEVICES - TABLETS */
@media screen and (min-width: 768px){
    .servico{
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .servico:nth-child(2){
        /* essa pseudo classe vai aplicar o css a um determinado elemento*/
        margin-right: 0;
    }

    .newsletter h2{
        font-size: 2em;
    }
    .newsletter h3{
        font-size: 1.5em;
    }
    .newsletter input{
        width: 70%;
        padding: 2%;
        float: left;
        margin-right: 1%;
    }
    .newsletter button{
        width: 29%;
        padding: 2%;
        float: right;
        margin-top: 0;
    }
}

/* SMALL DEVICES - TABLETS E DESKTOPS */
@media screen and (min-width: 960px){
    .title{
        width: 70%;
        float: left;
        text-align: left;
    }
    .title h2{
        font-size: 3em;
    }
    .title h3{
        font-size: 1.5em;
    }

    .button{
        width: 29%;
        float: right;
        margin-top: 0;
        margin-left: 1%;
    }
    .btn{
        font-size: 1.5em;
    }
    .servico{
        width: 32%;
        margin-right: 2%;
    }
    .servico:nth-child(2){
        margin-right: 2%;
    }
    .servico:nth-child(3){
        margin-right: 0;
    }
    .newsletter input{
        width: 60%;
        float: none;
    }
    .newsletter button{
        width: 20%;
        float: none;
    }
}

/* LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width: 960px){
    .btn-menu{
        display: none;
    }
    .btn-close{
        display: none;
    }
    .menu{
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #c3c3ed;
        display: block !important;
        position: static;
    }
    .menu li{
        padding: 0;
        float: left;
    }
    .menu li a{
        color: rgba(255, 255, 255, 0.8);
        font-size: 1em;
        padding: 15px;
        font-weight: 500;
    }
    .menu li a:hover{
        border: none;
        color: #fff;
        font-weight: 700;
    }
}