/* ======= RESET ======= */
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box; 
    font-family: "Comic Neue", sans-serif;
}

.days-one-regular {
font-family: "Days One", sans-serif;
font-weight: 400;
font-style: normal;
}

.comic-neue-light {
font-family: "Comic Neue", cursive;
font-weight: 300;
font-style: normal;
}

.comic-neue-regular {
font-family: "Comic Neue", cursive;
font-weight: 400;
font-style: normal;
}

.comic-neue-bold {
font-family: "Comic Neue", cursive;
font-weight: 700;
font-style: normal;
}

.comic-neue-light-italic {
font-family: "Comic Neue", cursive;
font-weight: 300;
font-style: italic;
}

.comic-neue-regular-italic {
font-family: "Comic Neue", cursive;
font-weight: 400;
font-style: italic;
}

.comic-neue-bold-italic {
font-family: "Comic Neue", cursive;
font-weight: 700;
font-style: italic;
}

body{
    background-color: #c3c3ed;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/*CABEÇALHO*/
.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo_sem_fundo.png) center center/56px no-repeat;
    font-size: 0;
}

.btn-menu{
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #8383be, #9e9ee2, #626394, #484971);
}

.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(72,73,113,0.9);
    top: 0;
    left: 0;
    display: none;
}

.btn-close{
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}

.menu li{
    padding: 1.5%;
}

.menu li a{
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover{
    border: 1px solid #bdbde8;
}

.banner{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/bgnovo.jpg) no-repeat fixed;
}

.title{
    width: 100%;
}

.title h2{
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}

.title h3{
    font-size: 1.5em;
    color: #fff;
}

.button{
    width: 100%;
}

.button i{
    float: right;
}

.btn-cadastrar{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
    background-color: #484971;
    color: #fff;
    margin-top: 1%;
}
.btn-sobre{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
    background-color: #fff;
    color: #484971;
    margin-top: 2%;
}

/*serviços*/
.servicos{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.servico{
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.servico img{
    border-radius: 7px 7px 0 0;
}

.inner{
    padding: 7%;
}

.inner a{
    font-size: 1.5em;
    color: #484971;
    font-weight: 700;
}

.inner h4{
    font-size: 1.2em;
    color: #484971;
    margin-top: 2%;
}

.inner p{
    margin-top: 6%;
    color: #484971;
    line-height: 1.5em;
}

.newsletter{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #484971;
}

.newsletter h2{
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.newsletter h3{
    color: #fff;
}

.newsletter form{
    margin-top: 2%;
}

.newsletter input{
    background-color: #484971;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5%;
    border-radius: 5px;
    width: 100%;
}

.newsletter button{
    width: 100%;
    background-color: #fff;
    color: #484971;
    padding: 5%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}